h2{
	text-align: center;
}

body {
	background-color: #0066CC;
}
.description-container{
	background:#D8D8D8;
	height:600px;
	width: 400px;
	position: relative;
	border-radius: 15px 15px 15px 15px;
	float: left;
	border: 5px solid black;
	margin:5px;
}

.outer {
	position: relative;
	float: left;
	background: black;
	height: 415px;
	width: 415px;
	
}

.recent {
	margin:5px;
	position: relative;
	background: #D8D8D8;
	height: 600px;
	width: 400px;
	border-radius: 15px 15px 15px 15px;
	border: 5px solid black;
	float: left;
}

.search-container {
	position: absolute;
	bottom: 0;
	padding: 6px;
}

 li{
	margin: 0 0 10px 0;

}

.description-text{
	padding: 0 0 5px 0;
}